@font-face {
  font-family: 'GurbaniWebThick';
  src: url('/fonts/gurbaniwebthick.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.shabad-text {
  font-family: 'GurbaniWebThick', serif;
  font-size: 3rem;
  line-height: 1.4;
}
