body {background: none !important; padding: 0; margin: 0;}
html {background: none !important; padding: 0; margin: 0;}
html,
body,
#app {
    height: 100%;
    overflow: hidden;
}

/* Hide scrollbar but keep scrolling */
.hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;             /* Chrome, Safari, Edge */
}